.gm-style .gm-style-mtc div {
    box-sizing: border-box;
    background-color: #232328 !important;
    color: #F5F5F5 !important;
    font-size: 12px !important;
}

.gm-bundled-control .gmnoprint {
    top: -6vh !important;
}

.gm-control-active {
    background-color: #232328 !important;
}