:root {
  font-size: 16px;
  font-family: "Open Sans";
}

main {
  margin-left: 5rem;
}

@media only screen and (min-width: map-get($map: $breakpoints, $key: "tablet")) {
  main {
    animation: marginLeft 1s ease;
    margin-left: 16rem;
  }
}
@keyframes marginLeft {
  from {
    margin-left: 5rem;
  }
  to {
    margin-left: 16rem;
  }
}

body {
  color: $white;
  background: $gray-80;
  font-family: $default-font-family;
  font-size: $default-font-size;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: $gray-80;
}

body::-webkit-scrollbar-thumb {
  background: $gray-60;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}


@include respond-to(tablet) {
  .main-logo {
    width: 20%;
    padding-right: 80px;
  }
}

.mdc-layout-grid {
  width: 100%;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

circle{
    animation: zoominoutsinglefeatured 3s infinite ;
}

.gm-style div a, .gm-style div a div, .gm-style-cc, .gmnoprint {
  display: none;
}

.hIOJIb {
  background-color: #FFF !important;
}

#neoron button {
  cursor: pointer;
}

._hj-f5b2a1eb-9b07_feedback_minimized_label{
  zoom: 70%;
}

@media only screen and (max-width: 600px) {
  .rsc-float-button {
    background: white !important;
    zoom: 65% !important;
    bottom: 7rem !important;
    right: 1rem !important;
  }
}

.rsc-header {
  background: #FCFCFC !important;
}

.rsc-content {
  background: #282731;
  padding: 1rem;

    button {
      border-color: #FCFCFC !important;
      color: #FCFCFC !important;
    }
}

.rsc-ts-bubble {
  background: #d6d6d6 !important;
  color: #1f1f1f !important;

  div a b {
    color: #000 !important;
    font-weight: normal !important;
  }
}

.rsc-ts-user {
  .rsc-ts-bubble {
    background: #FFF !important;
  }
}



#ribon {
  width: 5rem;
}

#ribon {
  width: 5rem;
}

.aboutOpenSource {
  color: #a4a4a4;
  font-size: 12px;

  a {
    color: #a4a4a4;
    text-decoration: underline;
  }
}

