.navbar {
  z-index: 1;
  position: fixed;
  background-color: $gray-70;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $medium-gray;
  text-decoration: none;
  transition: $transition-speed;
}

.nav-link:hover {
  background: $dark-gray;
  color: $light-gray;
}

.nav-link.-active {
  color: $light-gray;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: $light-gray;
  background: $dark-gray;
  font-size: 1.2rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  display: block;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: $transition-speed;
}

.navbar:hover .logo svg {
  display: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: $sidebar-mobile-height;
  }

  .nav-item {
    height: 100%;
  }

  .nav-link {
    flex-direction: column;
    height: 100%;

    svg {
      min-width: initial;
      align-items: center;
      width: $sidebar-mobile-icon;
      margin: 0 auto;
    }

    .link-text {
      margin: 6px 0 0 0;
      display: block;
      font-size: $font-size-12;
    }
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    padding-bottom: 60px;
    //min-height: 100vh;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    white-space: nowrap;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.small-logo {
  margin: 0 auto;
  height: 35px;
  transition: $transition-speed;

@media only screen and (min-width: map-get($map: $breakpoints, $key: "tablet")) {
    display: none;
  }
}

@media only screen and (min-width: map-get($map: $breakpoints, $key: "tablet")) {
  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;

    .logo-text {
      left: 0px;
    }
  }
  .linkt-text {
    display: inline;
    white-space: nowrap;
  }
  .nav-link {
    .link-text {
      margin: 6px 0 0 0;
      display: block;
      animation: fadeInLoad 2.5s;
    }
  }
  .logo {
    svg {
      display: none;
    }
    .nav-link {
      justify-content: center;

      background: $dark-gray;
      color: $light-gray;
    }
    .nav-link:hover {
      background: $gray-70;
    }
    .logo-text {
      position: relative;
      background: none;
      color: none;
    }
    .link-text {
      margin-left: 0;
    }
  }
}
@keyframes fadeInLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//smartphones with width < 375px

@media only screen and (max-width: 376px) {
  main{
    padding-bottom: 90px;
  }
}


/* FIX NAVBAR FOR IPHONE WITH VIRTUAL BUTTON*/

/* iPhone X , XS, 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 90px;
  }
}

/* iPhone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 90px;
  }
}

/* iPhone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 90px;
  }
}
